form {
  input, select, textarea {
    border: none !important;
    background-color: $light !important;
  }
  input, select {
    height: 3em !important;
  }
  textarea {
    height: 9em !important;
    padding: 9px;
    width: 100%;
  }
  label {
    font-size: 90%;

  }
}

textarea {
  border-radius: 4px;
  resize: none !important;
}
