.navbar {
  background-color: $backdrop;
  font-weight: bold !important;
  padding: 6px 24px !important;

  &.sticky-top {
    border-bottom: 5px solid $info;
    border-radius: 8px;

  }

  .navbar__side-space {
    width: 20%;
    min-width: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon--logo {
    height: 60px;
  }

  .navbar__holder--logo-text{
    width: 175px;
    .navbar__logo-text {
      font-size: 150%;
      color: $secondary;
      position: relative;
      top: 4px;
    }
  }

  .navbar-nav {
    .nav-item {
      padding: 0 12px;
      font-size: 120%;
      text-align: center;
      .underline--nav {
        position: relative;
        bottom: 5px;
        rect {
          fill: $secondary;
        }
      }
      .nav-link {
        color: $primary !important;
      }

      &:not(.active){
        .nav-link:hover {
          color: $secondary !important;
        }
        .underline--nav {
          display: none;
        }
      }
      &.active {
        .underline--nav {
          display: block;
        }
      }
    }
    .dropdown {
      .dropdown-toggle::after {
        position: relative;
        top: 3px;
        right: 4px;
      }
      .dropdown-item {
        font-size: 120%;
        color: $primary;
        &:hover {
          color: $secondary;
          font-weight: bold;
        }
      }
    }
  }
}


.footer {
  border-top: 5px solid $primary;
  border-radius: 10px;

  .footer_col {
    display: flex;
    align-items: center;
    justify-content: center;

    .footer__fa {
      color: black;
      font-size: 4em;
      padding: 10px;
    }
  }
  .footer__muted {
    padding: 0 10%;
    text-align: center;
    color: $dark;
    font-weight: 400;
  }
  img {
    height: 0.9em;
    fill: $dark;
    vertical-align: top;
  }
  .footer__icon--tiny {
    margin: 10px;
    font-size: 1.5em;
  }

}
