.card {
  .hover-cover {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: $light;
    z-index: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    &:hover {
      cursor: pointer;
      opacity: 0.25;
    }
  }
  .hover-text {
    background-color: rgba(225,225,225,0.95);
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 150%;
    line-height: 125%;
    font-weight: bold;
    padding: 17% 5%;
    height: 100%;
    color: $secondary;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .card-body {
    padding-top: 30px;

    .card-title {
      text-align: center;
      font-size: 200%;
      color: $secondary;
      font-weight: 600;
    }
    .card-text {
      text-align: center;
      font-size: 110%;
      margin: 20px 30px;
    }
  }
}
