.heading {
  background: #ccc;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 30px;
  padding-left: 10px;

}

#heading-a {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#heading-b {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#splash-img {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: -1;
  min-width: 1000px;
}

#spacer {
  background-color: blue;
  width: 100%;
  height: 400px;
  position: relative;
  top: 200px;
  z-index: -1;
}

@import "../../resources/lib/bootstrap/scss/bootstrap";
